.footer-first {
  background-color: #064e62;
  padding: 5rem 0;
  margin: 3rem 0 0 0;
  color: rgb(248, 243, 232);
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.459);
}
.footer-second {
  background-color: #06363a;
  padding: 2rem 0;
  color: rgb(234, 235, 230);
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.459);
}
