.top-background {
  height: 90vh;
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.664)),
  //     url("../assets/background/sky.jpg");
  background-image: radial-gradient(
    at 100% 100%,
    #075166 5%,
    #023848 40%,
    #002433 80%
  );
  background-size: cover;

  // #41295a, #2f0743
  .virtual-radio-batch {
    padding: 1.2rem 1.6rem;
    background-color: rgba(255, 235, 205, 0.267);
    display: inline-block;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
  }
  .f-icons {
    padding-top: 2rem;
    font-size: 1.4rem;
    i {
      margin: 0 0.8rem;
    }
  }
}
