.after-prediction-results {
  padding: 2rem 0.6rem;
  span {
    font-family: "Nunito Sans", sans-serif;
  }
  .congratulations {
    font-size: 2.4rem;
  }
  .tuberculosis {
    font-size: 1.2rem;
  }
  .pnemonia {
    font-size: 1.2rem;
  }
  .brain-tumor {
    font-size: 1.2rem;
  }
  inside {
    font-size: 1.6rem;
  }
}
